
/* Fonts */
body {
    font-family: 'Adelle Sans', 'Quicksand', sans-serif;
}

/* Colors */
.bg-custom-lavender {
    background-color: #F5F3FF;
}

.bg-primary-brainybucks {
    background: linear-gradient(135deg, #7C3AED, #a04be1);
    padding-bottom: 150px; /* Increase the bottom padding */
    position: relative; /* Ensure the waves stay positioned correctly */
}

.bg-primary-brainybucks2 {
    background-color: #5B21B6;
}

.Wave-container {
    position: relative; 
}

.text-primary-brainybucks {
    color: #7C3AED;
}

/* Utility Classes */
.img-fluid {
    max-width: 100%;
    height: auto;
}

.svg-small {
    width: 150px;
    height: auto;
    max-height: 150px;
}

#logo {
    text-align: center;
    display: block;
    margin: 0 auto;
}