/* Navbar Links */
.navbar-nav .nav-link {
    color: #4554d3;
    transition: filter 0.3s;
}

.navbar-nav .nav-link:hover {
    filter: brightness(0) saturate(100%) invert(24%) sepia(88%) saturate(626%) hue-rotate(228deg) brightness(89%) contrast(99%);
}

/* Navbar Logo Hover Effect */
.navbar-brand img {
    transition: filter 0.3s ease; /* Smooth transition for the filter effect */
}

.navbar-brand img:hover {
    filter: brightness(0) saturate(100%) invert(24%) sepia(88%) saturate(626%) hue-rotate(228deg) brightness(89%) contrast(99%);
}