.header, .footer {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000; 
}


.navbar {
    position: fixed;
    width: 100%;
    top: 70px; 
    z-index: 999; 
}


.main-content {
    margin-top: 150px; /
}


#redirectButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#redirectButton:hover {
    background-color: #0056b3;
}
