.footer {
    position: relative;
    padding: 20px;
    background: #5B21B6;
display: grid;
    grid-template-areas:
        "logo socials"
        "links links";
    grid-template-columns: repeat(2, 1fr);
    color: #f9f9f9;
    text-align: center;
}

.footer .logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.footer .socials {
    grid-area: socials;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.footer .links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0 50px;
    gap: 20px;
}

.footer .links h2 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    margin-bottom: 10px;
}

.footer .links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0.8;
}

.footer .links a {
    color: #f9f9f9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer .links a:hover {
    color: #ffffff;
}

.footer .waves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: -1;
}

.footer .wave {
    position: absolute;
    width: 100%;
    height: 100px;
    background: url('assets/footer/wave.png');
    background-size: 1000px 100px;
}

.footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave01 4s linear infinite;
}

.footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave02 5s linear infinite;
}

.footer .wave#wave3 {
    z-index: 998;
    opacity: 0.5;
    bottom: 0;
    animation: animateWave03 6s linear infinite;
}

.footer .wave#wave4 {
    z-index: 997;
    opacity: 0.25;
    bottom: 0;
    animation: animateWave04 7s linear infinite;
}

@keyframes animateWave01 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0;
    }
}

@keyframes animateWave02 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animateWave03 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

@keyframes animateWave04 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

@media (max-width: 500px) {
    .footer {
        grid-template-areas:
            "logo"
            "socials"
            "links";
        grid-template-columns: 1fr;
    }

    .footer .socials {
        justify-content: center;
        padding-bottom: 20px;
    }

    .footer .links {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 0;
        padding: 40px 0 30px;
    }
}

/* Footer Links */
.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

/* Footer Layout */
.footer .logo {
    max-width: 65px;
}

.footer .socials {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .links h2 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    margin-bottom: 10px;
}
 .socials img:hover {
    transition: filter 0.3s;
    filter: brightness(0) saturate(100%) invert(24%) sepia(88%) saturate(626%) hue-rotate(228deg) brightness(89%) contrast(99%);
    
 }